@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', 'sans serif';
    width: 100dvw;
    overflow-x: hidden;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  /** SWIPER */
  .swiper-slide {
    height: auto;
  }

  /** LOGO TEST */
  .image-test {
    g {
      @apply animate-ping;
    }
  }

  /** TEXT */
  .text-body {
    font-size: 24px;
    line-height: 27px;
  }

  .text-h1_semibold {
    @apply text-5xl font-semibold;
    line-height: 103%;
    letter-spacing: 0;
  }

  .text-h2_light {
    @apply text-2xl font-light;
    line-height: 113%;
    letter-spacing: 0;
  }

  .text-h2_bold {
    @apply text-2xl font-bold;
    line-height: 113%;
    letter-spacing: 0;
  }

  .text-body_regular {
    @apply text-base font-normal;
    letter-spacing: 0;
  }

  .text-body_semibold {
    @apply text-base font-semibold;
    letter-spacing: 0;
  }

  /** Layout **/
  .max-layout {
    @media (min-width: 1024px) {
      width: calc(100% - 64px);
    }
  }
}
