@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', 'sans serif';
    width: 100dvw;
    overflow-x: hidden;
  }

  h1 {
    @apply font-semibold tracking-normal;
    font-size: 3rem;
    line-height: 103%;
  }

  h2 {
    @apply tracking-normal;
    line-height: 113%;
    font-size: 1.5rem;

    &.bold {
      @apply font-bold;
    }
  }

  p {
    font-size: 1rem;
    @apply font-normal;

    &.semi-bold {
      @apply font-semibold;
    }
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
}

html {
  scroll-behavior: smooth;
}

/** SWIPER */
.swiper-slide {
  height: auto;
}
