@reference "../../../app/globals.css";

.payload-richtext {
  @apply max-w-dvw;

  p {
    @apply text-base font-normal;
    letter-spacing: 0;

    strong {
      @apply font-bold;
    }
  }

  blockquote {
    @apply border-l-4 pl-4 italic;
    border-color: var(--payload-blockquote-border-color);
  }

  span {
    @apply text-base font-normal;
    letter-spacing: 0;
  }

  .list-check {
    @apply pl-1;

    & li {
      @apply flex gap-2;
    }
  }

  img {
    @apply my-4 max-w-full rounded-lg;
  }
}
