@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans serif;
  }

  h1 {
    @apply font-title;
  }

  h2 {
    @apply font-subtitle-bold;
  }

  h3 {
    @apply font-subtitle;
  }
}

/**
 * Font Size 
 */

@layer components {
  .font-title {
    @apply text-5xl font-semibold;
    line-height: 103%;
  }

  .font-subtitle {
    @apply text-2xl font-light tracking-wide;
    line-height: 113%;
  }

  .font-subtitle-bold {
    @apply text-2xl font-bold tracking-wide;
    line-height: 113%;
  }

  .font-body {
    @apply text-base font-light;
  }

  .font-body-bold {
    @apply text-base font-semibold;
  }
}

@layer utilities {
  .container-hawk {
    padding: 0 10vw;
  }
}
